<div class="w3-row w3-black w3-padding-small">
    <div class="w3-threequarter">
      GestorJR
    </div>
    <div class="w3-quarter w3-right-align">
        <i class="icon-bell-alt w3-margin-right" title="Notificações"></i>
        <i class="icon-cogs w3-margin-right" title="Configurações"></i>
        <i class="icon-signout" title="Sair"></i>
    </div>      
</div>
<div class="w3-row">
    <div class="w3-col l1 w3-hide-small w3-hide-medium w3-lightgray w3-border">
      <ul class="w3-ul w3-margin-bottom w3-left-align">
        <li><i class="icon-bar-chart"></i> <span class="w3-center">Visão Geral</span></li>
        <li><i class="icon-calendar"></i> <span class="w3-center">Calendário</span></li>
        <li><i class="icon-briefcase"></i> <span class="w3-center">Projetos</span></li>        
        <li><i class="icon-archive"></i> <span class="w3-center">Arquivo</span></li>
        <li><i class="icon-file-text"></i> <span class="w3-center">Financeiro</span></li>
        <li><i class="icon-group"></i> <span class="w3-center">Associados</span></li>
        <li><i class="icon-user"></i> <span class="w3-center">Clientes</span></li>
        <li><i class="icon-book"></i> <span class="w3-center">Contatos</span></li>
        <li><i class="icon-folder-close"></i> <span class="w3-center">Anotações</span></li>
        <!-- <li><i class="icon-bug"></i> Reporte um Bug</li> -->
      </ul>
    </div>
    <div class="w3-container w3-col l11 w3-light-gray">
      <!-- Conteudo sera exibido nesta div -->
      <div class="w3-row">
          Conteudo
      </div>
      <div class="w3-row">
        Mais conteudo
      </div>
    </div>
</div>
<footer class="w3-gray">
  Footer
</footer>